.axis path,
.axis line {
  fill: none;
  stroke: #282F35;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis .tick {
  fill: #DAE0E4;
  font-size: 12px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/*timeseries*/
.timeseries .line {
  fill: none;
  stroke: #348fe2;
  stroke-width: 2px;
}

.timeseries .axis .tick {
  fill: #9d9d9d;
  font-size: 12px;
}

/*pie*/
.pie text {
  fill: #fff;
}


.custom-tooltip {
  visibility: hidden;
  fill: #39393d;
}

.custom-tooltip text {
  fill: white;;
  font-size: 12px;
  shape-rendering: crispEdges;
}
